In [16]:
import pandas as pd
import numpy as np

advst_data=pd.read_csv(r"C:\Users\Tejes\Downloads\Advertising.csv")
advst_data.head(10)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6       21.2   10.6

# 1) Explain the Dataset

In [5]:
advst_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

# 2) Summarize the Dataset

In [17]:
advst_data.describe()

       Unnamed: 0          TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

# 3) Check for  Amount of Money Spent for the Three Advertisements

In [23]:
#H0: Same amount of money was spent for the three adveretisements. 
#H1: Same amount of money was not spent for the three advertisement.
from scipy.stats import stats

F,p= stats.f_oneway(advst_data["TV"],advst_data["Radio"],advst_data["Newspaper"])
print("p-value for significance is: ",p)
if p<0.05:
    print("\nThere is ample evidence to reject the null hypothesis")
else:
    print("\nThere is ample evidence for failing to reject the null hypothesis")

p-value for significance is:  4.552931539744962e-103

There is ample evidence to reject the null hypothesis